/*** Global ***/

html,body{
  margin:0;
  padding:0;
  background:#ccc;
    background:#ccc -moz-linear-gradient(left top, left bottom, from(#666), to(#ccc)) left 4em repeat-x;
    background:#ccc -webkit-gradient(linear, left top, left bottom, from(#666), to(#ccc)) left 4em repeat-x;
    -moz-background-size:100% 20px;
    -webkit-background-size:100% 20px;
  font-family:"Lucida Grande",Helvetica,Arial,sans-serif;
  font-size:100%;
}
h1,h2{
  font-family:"Myriad",Helvetica,Arial,sans-serif;
  font-weight:normal;
}
h1{
  margin:0;
  padding:0.5em 1em;
  background:#222;
    background:-moz-linear-gradient(
      left top, left bottom, from(#333), to(#090909),
      color-stop(0.5, #191919), color-stop(0.5, #090909)
    );
    background:-webkit-gradient(
      linear, left top, left bottom, from(#333), to(#090909),
      color-stop(0.5, #191919), color-stop(0.5, #090909)
    );
  border-bottom:1px solid #333;
  color:#fff;
  font-size:2em;
  text-shadow:0 -1px 1px #000;
}
h1 a,
h1 a:link,
h1 a:visited{
  color:inherit;
  text-decoration:none;
}
h1 a:hover,
h1 a:focus,
h1 a:active{
  border-bottom:2px solid #ccc;
}
h2{
  margin:1em 1.25em 0;
  font-size:1.5em;
}
a, a:link{
  color:#1d4e9f;
}
a:hover, a:focus, a:active{
  color:#0d3e8f;
}
a:visited{
  color:#4a7eca;
}

/*** index.html ***/

body#page-index ul{
  margin:2em 0 0 2em;
  padding:0;
  list-style:none;
}
body#page-index ul li{
  margin:0;
  padding:0;
  line-height:1.5;
}
body#page-index ul li h2{
  margin:0;
  color:#333;
  font-size:inherit;
}
body#page-index ul li ul{
  margin-top:0;
  list-style:disc;
}
body#page-index p{
  margin:1.5em 0 0 2em;
}
body#page-index footer{
  display:block;
  margin:2em 0 0 2em;
  color:#666;
  font-size:0.75em;
}

/*** Test pages ***/

p.loading{
  margin:2em 0 0 1.75em;
  padding:0 0 0 25px;
  background:transparent url(../img/loading-000000-on-CCCCCC.gif) left center no-repeat;
}
table{
  margin:0 1.5em;
  padding:1em 0 0;
}
th, td{
  margin:0;
  padding:0.5em 0.75em;
}
th{
  font-family:monospace;
  text-align:left;
}
td{
  padding-left:1.5em;
  font-size:0.75em;
  text-align:right;
}
tr.min *{
  background:#1d4e9f;
    background:-moz-linear-gradient(
      left top, left bottom, from(#4a7eca), to(#1d4e9f)
    );
    background:-webkit-gradient(
      linear, left top, left bottom, from(#4a7eca), to(#1d4e9f)
    );
  color:#fff;
  font-weight:bold;
  text-shadow:0 -1px 1px #1d4e9f;
}
tr.min th{
  border-top-left-radius:0.5em;
    -moz-border-radius-topleft:0.5em;
    -webkit-border-top-left-radius:0.5em;
  border-bottom-left-radius:0.5em;
    -moz-border-radius-bottomleft:0.5em;
    -webkit-border-bottom-left-radius:0.5em;
}
tr.min td{
  border-top-right-radius:0.5em;
    -moz-border-radius-topright:0.5em;
    -webkit-border-top-right-radius:0.5em;
  border-bottom-right-radius:0.5em;
    -moz-border-radius-bottomright:0.5em;
    -webkit-border-bottom-right-radius:0.5em;
}
div#index{
  margin:2em 0 0 2em;
}